## Importing the data and putting it into a DF:
The result will be a dataframe with URLs and a basic messy list of labels

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import json

In [9]:
data = pd.read_csv("data/blok-csv.csv")
filter_col = [col for col in data if col.startswith('pictures')]
cols_url = [filter_col[i] for i in range(len(filter_col)) if "url" in filter_col[i]]
cols_room = [filter_col[i] for i in range(len(filter_col)) if "album" in filter_col[i]]
data_url = data.loc[:, cols_url]
data_room = data.loc[:, cols_room]

In [10]:
data_room = data_room.reindex(sorted(data_room.columns), axis=1)
data_url = data_url.reindex(sorted(data_url.columns), axis=1)
data_url.drop(["pictures/53/url"], axis=1, inplace=True)
# for i in range(data_url.shape[1]):
#     print(data_url.columns[i], "---", data_room.columns[i])
# print(data_url.shape)
# print(data_room.shape)

In [11]:
url_room_list = list()
for i in range(data_url.shape[0]):
    for j in range(data_url.shape[1]):
        if not pd.isna(data_url.iloc[i, j]) and not pd.isna(data_room.iloc[i, j]):
            url_room_list.append((data_url.iloc[i, j], data_room.iloc[i, j]))
print(len(url_room_list))
# over 14 000 labeled pics - not that bad

14033

In [12]:
df = pd.DataFrame(url_room_list, columns=["img_url", "room_type"])
df.loc[:,"room_type_list"] = [df["room_type"][i].split(" & ") for i in range(df.shape[0])]

In [13]:
df.head()

,img_url,room_type,room_type_list
0,https://blok-production.imgix.net/photos/e7a3e...,Kylpyhuone,[Kylpyhuone]
1,https://blok-production.imgix.net/photos/e7a3e...,Kylpyhuone,[Kylpyhuone]
2,https://blok-production.imgix.net/photos/e7a3e...,Pohjakuva,[Pohjakuva]
3,https://blok-production.imgix.net/photos/e7a3e...,Keittiö,[Keittiö]
4,https://blok-production.imgix.net/photos/e7a3e...,Keittiö,[Keittiö]

Store the dataframe in a binary file so that it can be read in later again:

In [14]:
df.to_pickle('data/raw_df')